/* .banner-slider-button-prev,
.banner-slider-button-prev::after {
  font-size: 22px;
  background: #c8c8c8;
  border-radius: 50%;
  color: black;
  padding: 10px 17px;
}
.banner-slider-button-next,
.banner-slider-button-next::after {
  font-size: 22px;
  background: #c8c8c8;
  border-radius: 50%;
  color: black;
  padding: 10px 17px;
} */
